{% extends 'blog/base_blogs.html' %}

{% block page_title %}
<!-- Blog Entries Column -->
<div class="col-md-8">
    <h1 class="my-4">Baby Grizzly
        {% for obj in author %}
        <small>{{ obj.user.first_name }} {{ obj.user.last_name }}</small>
        {% endfor %}
    </h1>
</div>
{% endblock %}

{% block blog_content %}

<div class="container-fluid bg-light">
    <div class="row align-items-center">

        <!-- Blog Post -->
        {% for obj in filter.qs %}
        {% if obj.published %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img class="card-img-top" src="{{ obj.image.url }}">
                <div class="card-body">
                    <h5 class="card-title">{{ obj.title }}</h5>
                    <p>Category:
                        <a href="{% url 'category' obj.category %}">{{ obj.category }}</a>
                    </p>
                    <p class="card-text">{{ obj.description|striptags|truncatechars:100 }}</p>
                    <p>Author: {{ obj.user.first_name }} {{ obj.user.last_name }}</p>
                    <a href="{% url 'detail' obj.id %}" class="btn btn-primary">Read More &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    Posted on {{ obj.publish|date:'M d Y' }}
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}

    </div>
</div>

{% load static %}

{% endblock %}