{% extends 'blog/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<!-- Page Content -->
<div class="container-fluid bg-light">

    {% block page_title %}{% endblock %}

    <div class="row">
        <!-- Sidebar Widgets Column -->
        <div class="col-md-8">

            <!-- Search Widget -->
            <div class="card mb-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <form method="get" class="uniForm">
                        <div class="form-row">
                            <div class="col">
                                {{ filter.form.title|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-auto align-self-end">
                                <button class="btn btn-primary" id="btn" name="btn" type="submit">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Categories Widget -->
        <div class="col-md-4">
            <div class="card mb-4">
                <h5 class="card-header">Categories</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="{% url 'all_categories' %}">All Categories</a>
                                </li>
                                <li>
                                    <a href="{% url 'cat_one' %}">Category 1</a>
                                </li>
                                <li>
                                    <a href="{% url 'cat_two' %}">Category 2</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% load static %}

{% block blog_content %}{% endblock %}



{% endblock %}