{% extends 'base/base_blogs.html' %}

{% block page_title %}
<!-- Blog Entries Column -->
<div class="col-md-12">
    <h1 class="my-4">Baby Grizzly
        {% for obj in category.qs %}
        <small>{{ obj.category }}</small>
        {% endfor %}
    </h1>
</div>
{% endblock %}

{% block blog_content %}

<div class="container-fluid bg-light">
    <div class="row align-items-center">
        {% for obj in filter.qs %}
        {% if obj.published %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img class="card-img-top" src="{{ obj.image.url }}">
                <div class="card-body">
                    <h5 class="card-title">{{ obj.title }}</h5>
                    <p>Category: {{ obj.category }}</p>
                    <p class="card-text">{{ obj.description|striptags|truncatechars:50 }}</p>
                    <p>Author:
                        <a href="{% url 'author' obj.user_id %}">{{ obj.user.first_name }} {{ obj.user.last_name }}</a>
                    </p>
                    <a href="{% url 'detail' obj.id %}" class="btn btn-primary">Read More &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    Posted on {{ obj.publish|date:'M d Y' }}
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>


    <div class="row flex-fill">
        <div class="col-sm-12">
            <div class="d-flex justify-content-around">
                <a href="{% url 'all_blogs' %}" class="btn btn-primary btn-lg">View All Blogs</a>
                <a href="{% url 'all_categories' %}" class="btn btn-primary btn-lg">All Categories</a>
            </div>
            <br>
        </div>
    </div>
</div>


{% load static %}

{% endblock %}