{% extends 'blog/base.html' %}

{% block content %}

<div class="row justify-content-center mb-3">
    <div class="col-md-9 text-center">
        <h1 id="hometext" class="font-weight-bold">Baby Grizz Blog</h1>
    </div>
</div>

<h5 class="mt-5">Let's see what we are doing</h5>
<hr>

<div class="btn-group" role="group" aria-label="Basic example">
    <a href="{% url 'all_blogs' %}" class="btn btn-info" role="button">All</a>
    <a href="{% url 'cat_one' %}" class="btn btn-info" role="button">Category 1</a>
    <a href="{% url 'cat_two' %}" class="btn btn-info" role="button">Category 2</a>
    <a href="{% url 'cat_three' %}" class="btn btn-info" role="button">Category 3</a>
</div>
<br>
<br>

{% load static %}

<div class="row row-cols-1 row-cols-md-3">
    {% for blog in blogs %}
    {% if blog.published %}
    <div class="col mb-4">
        <div class="card h-100">
            <a href="{% url 'detail' blog.id %}">
                <img src="{{ blog.image.url }}" class="card-img-top">
            </a>
            <div class="card-body">
                <a href="{% url 'detail' blog.id %}">
                    <h5 class="card-title">{{ blog.title }}</h5>
                </a>
                <h6>{{ blog.category }}</h6>
                <p class="card-text">{{ blog.description|striptags|truncatechars:100 }}</p>
                <p class="card-text"><small class="text-muted">{{ blog.publish|date:'M d Y'|upper }}</small></p>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>

{% endblock %}